%h1 Match
%ul
  %li メニュー
  %li 利用規約
  %li お問い合わせ
  %li ガイドライン
  %li 運営
%hr/
%h1 運命的な出会いを
%hr/
.start
  - if user_signed_in?
    %div
      = link_to "Facebookでログインする", user_facebook_omniauth_authorize_path, class: "post"
  - else
    %div
      = link_to "新規登録", new_user_registration_path, class: 'post'
%hr/
%h2 料金システム
%p 仲介料としてひとり1000円
%hr/
%h2 Matchとは
%p 人と人がもっと流動的に出会うことで結婚やビジネス、学生生活を豊かにしていただくためのサービスです
%hr/
%h2 ご利用方法
%ul
  %li 登録
  %li ログイン
  %li 予約
  %li 合コン
%hr/
%h3 運営
%p hogehoge1
%p hogehoge2
%p hogehoge3
