%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Energy — 100% Free Fully Responsive HTML5 Template by FREEHTML5.co
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Free HTML5 Template by FREEHTML5.CO", :name => "description"}/
    %meta{:content => "free html5, free template, free bootstrap, html5, css3, mobile first, responsive", :name => "keywords"}/
    %meta{:content => "FREEHTML5.CO", :name => "author"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    %title MatchApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
